@import '../../color.scss';

.box-log{
  width: 15em;
  height: 15em;
  margin: 1em;
  padding: 1.5px;
  background: black;
  img{
    width: 12em;
  }
}
.box-big {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 5em;
}
.btn-group{
  margin: 1.5em;
  
}